@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.hide-br-before-em br.hideable:has(+ em) {
  display: none !important;
  visibility: hidden !important;
}

#__next {
  height: 100%;
}
